Diagnostics:
    Suppress: pp_including_mainfile_in_preamble

    ClangTidy:
        Add:
            - bugprone-*
            - readability-identifier-naming

        Remove:
            - bugprone-easily-swappable-parameters

        CheckOptions:
            readability-identifier-naming.TypedefCase: lower_case
            readability-identifier-naming.StructCase: lower_case
            readability-identifier-naming.UnionCase: lower_case
            readability-identifier-naming.EnumCase: lower_case

            readability-identifier-naming.FunctionCase: lower_case

            readability-identifier-naming.VariableCase: lower_case
            readability-identifier-naming.MemberCase: lower_case
            readability-identifier-naming.ParameterCase: lower_case

            readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
            readability-identifier-naming.EnumConstantCase: UPPER_CASE

            readability-identifier-naming.VariableIgnoredRegexp: ^_.*

---

If:
    PathMatch: .*\.h(pp|h)?

CompileFlags:
    Add:
        - -Wno-empty-translation-unit

---

If:
    PathMatch: .*(fejix|src)/.*\.h(pp|h)?

Diagnostics:
    ClangTidy:
        CheckOptions:
            readability-identifier-naming.TypedefPrefix: fj_
            readability-identifier-naming.StructPrefix: fj_
            readability-identifier-naming.UnionPrefix: fj_
            readability-identifier-naming.EnumPrefix: fj_

            readability-identifier-naming.FunctionPrefix: fj_

            readability-identifier-naming.MacroDefinitionPrefix: FJ_
            readability-identifier-naming.EnumConstantPrefix: FJ_

---

If:
    PathMatch: .*\.(c|h)

CompileFlags:
    Add:
        - -xc
        - -std=c99

---

If:
    PathMatch: .*\.(cpp|hpp)

CompileFlags:
    Add:
        - -xc++
        - -std=c++17

---

If:
    PathMatch: .*\.(m|hh)

CompileFlags:
    Add:
        - -xobjective-c
        - -std=c11

