# All hidden directories
.*/

# Compilation directories
build*/

# Backups
*~*

# Cache directories
__*/

# Ignore all root files except the allowed ones
/*.*
!.gitignore
!.gitkeep
!.gitmodules
!.gitattributes
!.clangd
!.clang-format
!.editorconfig
!CMakeLists.txt
!LICENSE.txt
!README.md